@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code-dark';
@import 'typography';
@import 'mobile-menu';
@import 'technology';
@import 'technologies';
@import 'report';
@import 'img';

body {
    background-color: $background-alternative-color;
}

* {
    color: $font-alternative-color;
}

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.header,
.footer {
    flex: 0 0 auto;
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.nav {
    margin-top: 0.2em;
}

.nav a {
    color: $font-alternative-color;
    padding: 1rem;
    margin: 0.2em;
    text-decoration: none;
    border: 1px solid $font-alternative-color;
}

.nav a:hover {
    background-color: $code-bg-alt;
}

.nav .active a {
    background-color: $code-bg-alt;
}

@media (max-width: 767px) {
    body {
        margin: 0;
    }
}

.title * {
    color: $font-alternative-color;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $code-bg-alt;
}

.footer a {
    color: $font-alternative-color;
}

.footer .social {
    font-size: 2rem;
}
