$font-color: rgb(17, 17, 17);
$font-alternative-color: rgb(205, 205, 205);
$accent-color: #ee6c4d;
$background-color: rgb(245, 245, 245);
$background-alternative-color: rgb(24, 24, 24);
$code-bg-alt: #414141;
$code-bg: #fdfdfd;
$gs-button-dark: #414141;
$gs-button-light: #eaeaea;
